<!DOCTYPE html>
<html lang="en">
  
  <body >



<!-- advertising start -->
<header class="masthead">
      <div class="container-fluid" >
        <div class="intro-text">
          
          <div class="intro-heading text-uppercase" style="transform: rotate(180deg); font-family: 'Chelsea Market', cursive;">It's Nice To Meet You</div>
          <div class="intro-lead-in" style="transform: rotate(180deg); font-family: 'Chelsea Market', cursive;">Always Ruby on rails !</div>
        </div>
      </div>
    </header>
<!-- advertising end -->


 <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">It's me  </h2>
            <h3 class="section-subheading text-muted">People April Day.</h3>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
            <!--
              <img class="mx-auto rounded-circle" src="assets/team/1.jpg" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              -->
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/assets/me.jpg" alt="">
              <h4>曹毅索</h4>
              <p class="text-muted">Gary Tsao</p>
              
              
            </div>
          </div>
           
          <div class="col-sm-4">
            <div class="team-member">
            <!--
              <img class="mx-auto rounded-circle" src="assets/team/3.jpg" alt="">
              <h4>Diana Pertersen</h4>
              <p class="text-muted">Lead Developer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              -->
            </div>
          </div>
        </div>
         
        
      </div>
    </section>


<!--  images 
<article id="slider">

<input checked type='radio' name='slider' id='slide1' style="display:none"/>
<input type='radio' name='slider' id='slide2' style="display:none"/>
<input type='radio' name='slider' id='slide3' style="display:none"/>
<input type='radio' name='slider' id='slide4' style="display:none"/>
<input type='radio' name='slider' id='slide5' style="display:none"/>
<div id="slides">
  <div id="container">
    <div class="inner">
      <article>
      <img src="http://placehold.it/942X400"/>
      </article>
      <article>
      <div class='caption'>
        <bar>A Bubble on Flower</bar>
      </div>
      <img src="https://0.s3.envato.com/files/84450220/img/Dummy1-942X400.jpg"/>
      </article>
      <article>
      <div class='caption'>
        <bar>A Small Elephant <a href="#">read more</a></bar>
      </div>
      <img src="https://0.s3.envato.com/files/84450220/img/Dummy2-942X400.jpg"/>
      </article>
      <article>
      <div class='caption'>
        <bar>A Yellow Flower <a href="#">read more</a></bar>
      </div>
      <img src="https://0.s3.envato.com/files/84450220/img/Dummy3-942X400.jpg"/>
      </article>
      <article>
      <div class='caption'>
        <bar>A Pink Flower</bar>
      </div>
      <img src="https://0.s3.envato.com/files/84450220/img/Dummy4-942X400.jpg"/>
      </article>
    </div>
  </div>
</div>
<div id="commands">
  <label for='slide1'></label>
  <label for='slide2'></label>
  <label for='slide3'></label>
  <label for='slide4'></label>
  <label for='slide5'></label>
</div>
<div id="active">
  <label for='slide1'></label>
  <label for='slide2'></label>
  <label for='slide3'></label>
  <label for='slide4'></label>
  <label for='slide5'></label>
</div>
</article>
   -->


    <div class="login">
<h1 style="margin-top: 0px;">請留下姓名及E-mail，謝謝!</h1>
<%= render 'form', contact: @contact %>
</div>

<div class="container-fluid"  style="background-color: #778899;
color:#fff;">
<h6 >garytsao-qtreport.tk @ 2018 </h6>
</div>

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>


