 <div class="col-md-8 col-md-offset-2" style="margin-bottom: 150px;">
<h2><%= @post.title %></h2> 
<p><%= @post.content.html_safe %></p> 
<br>
<h5><span class="glyphicon glyphicon-time"><%= @post.created_at %> 發佈. </span></h5>
</div>

<div>
	<%= render 'disqus' %>
</div>